# Imp

DISCORD_TOKEN='' # token

# if your lavalink has secure enabled then do https rather than http :D
LAVALINK_URI='http://lavalink.vaproh.cloud:2333' # uri of lavalink
LAVALINK_PASSWORD='Doom129' # password to access lavalink
